In [1]:
''' Write a python script to store multiple items in a single variable ( Items are “Java”
,“Python”, “SQL”, “C” ) using tuple'''
a=("Java","Python","SQL","C")
print(a,type(a))

('Java', 'Python', 'SQL', 'C') <class 'tuple'>

In [7]:
# Write a python program to store only one item using tuple.
t=tuple([eval(e) for e in input("Enter any element:").split(',')])
print(t)

Enter any element:123
(123,)

In [17]:
# Write a python program to reverse the tuple.
t=10,20,30
t[2::-1]

(30, 20, 10)

In [18]:
# Write a python program to Swap two tuples in Python.
a=10,20
b=30,40
a,b=b,a
print(b,a)

(10, 20) (30, 40)

In [23]:
# Write a python program to check if all items in the tuple are the same.
t1=10,20,30
t2=10,20,30
t1==t2

True

In [30]:
'''Write a python program to divide the tuple into four variables.
tuple1=(100, 200, 300, 400)'''
t1=100,200,300,400
a,b,c,d=t1
print("a is",a,"b is",b,"c is",c,"d is",d,type(t1))

a is 100 b is 200 c is 300 d is 400 <class 'tuple'>

In [32]:
'''Write a python program to copy elements 4 and 5 from the following tuple into a new
tuple. tuple1=(1,2,3,4,5,6)'''
t1=(1,2,3,4,5,6)
a=t1
a=t1[3:5:1]
print(a,type(a))

(4, 5) <class 'tuple'>

In [42]:
'''Write a python program to Sort a tuple of tuples by the second item.
tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))'''
sorted([('a', 21),('b', 37),('c', 11), ('d',29)],key=lambda x:x[1])

[('c', 11), ('a', 21), ('d', 29), ('b', 37)]

In [44]:
'''Write a python program to print the value 20 from given nested tuple
tuple1 = ("Python", [10, 20, 30], (2, 4, 16))'''
t=("Python",[10,20,30],(2,4,6))
a=t[1]
print(a[1])

20

In [54]:
# Write a python program to change the first item (22) of a list within the following tuple to 222.
t1 = (11, [22, 33], 44, 55)
l=list(t1)
l[1][0]=222
l=tuple(l)
print(l)

(11, [222, 33], 44, 55)